@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Write your own custom component styles here */
.primary-button {
  @apply border border-transparent bg-indigo-400 text-white font-bold py-2 px-4 rounded text-center;
}

.primary-button:hover {
  @apply transition duration-150 border border-transparent bg-indigo-600 text-white font-bold py-2 px-4 rounded text-center;
}

.btn-black {
  @apply border border-transparent bg-black text-white font-bold py-2 px-4 rounded text-center;
}

.btn-black:hover {
  @apply transition duration-150 font-bold bg-white text-black border-black;
}

.btn-black-outline {
  @apply border border-black text-black py-1 px-4 rounded font-bold text-center;
}

.btn-black-outline:hover {
  @apply transition duration-500 bg-black text-white;
}

.input-expand {
  @apply w-[200px] rounded bg-gray-100 border border-solid border-gray-300 placeholder-gray-700 p-2;
}

.input-expand:hover,
.input-expand:focus {
  @apply w-full border-indigo-400 border placeholder-gray-500;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}

input {
  transition-duration: 1s;
}
